<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<div
		style="width: 100%; font-size: 36px; line-height: 48px; background-color: navy; color: white">Webbeer</div>
	<div>
		<h:form>
			<p:tabMenu activeIndex="#{param.i}">
				<p:menuitem value="#{msg['lbl_cervejas']}" url="../webBeer/listarCerveja.xhtml?i=0"/>					
				<p:menuitem value="#{msg['lbl_tipos']}" url="../webBeer/listarTipo.xhtml?i=1"/>
				<p:menuitem value="#{msg['lbl_ingredientes']}" url="../webBeer/listarIngrediente.xhtml?i=2"/>
				<p:menuitem value="#{msg['lbl_fabricantes']}" url="../webBeer/listarFabricante.xhtml?i=3"/>
				<p:menuitem value="#{msg['lbl_usuarios']}" url="../webBeer/listarUsuario.xhtml?i=4"/>
				<p:menuitem value="#{msg['lbl_sair']}" url="../webBeer/index.xhtml?i=4"/>
			</p:tabMenu>
			
			<h:panelGrid columns="2"> 
            Language : 
            <h:selectOneMenu value="#{userData.locale}"
					onchange="submit()" valueChangeListener="#{userData.localeChanged}">
					<f:selectItems value="#{userData.countries}" />
				</h:selectOneMenu>
			</h:panelGrid>
			
		</h:form>
	</div>
</h:body>
</html>
