<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"	
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/basicTemplate.xhtml">
	<ui:define name="content">
		<h:form>
			<h:panelGrid columns="2">
				<p:outputLabel value="#{msg['lbl_nome']}"/>
				<p:inputText value="#{ingrediente.nome}"/>
				<p:outputLabel value="#{msg['lbl_fabricante']}"/>				
				<p:selectOneListbox  value="#{daoIngrediente.fabricanteSelecionado}">
   					<f:selectItems value="#{daoFabricante.listarFabricantes(usuario)}" var="c" itemLabel="#{c.nome}" itemValue="#{c.id}" />
   				</p:selectOneListbox >
			</h:panelGrid>
			<p:commandButton id="cadastrar" action="#{daoIngrediente.adicionarIngrediente(usuario)}" value="#{msg['btn_ir']}"/>
		</h:form>
	</ui:define>
</ui:composition>
</html>
