<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/templates/basicTemplate.xhtml">
	<ui:define name="content">
		<h:form>
			<h:panelGrid columns="2">
				<h:outputText value="#{msg['lbl_nome']}"></h:outputText>
				<h:inputText value="#{usuario.nome}"></h:inputText>
				<h:outputText value="#{msg['lbl_senha']}"></h:outputText>
				<h:inputText value="#{usuario.senha}"></h:inputText>
			</h:panelGrid>
			<h:commandButton id="cadastrar" action="#{daoUsuario.atualizarUsuario(usuario)}" value="#{msg['btn_ir']}"></h:commandButton>
		</h:form>
	</ui:define>
</ui:composition>
</html>
