<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	

<h:head>
	<title><h:outputText value="Login" /></title>
</h:head>

<h:body>
	<h:form action="index.xhtml"> 
	    <p:growl id="growl" showDetail="true" sticky="true" />  
	 
	    <p:panel header="WebBeer">  
	        <h:panelGrid columns="2" cellpadding="5">  
	            <p:outputLabel for="nome" value="#{msg['lbl_nome']}"/>
				<p:inputText id="nome" value="#{usuario.nome}" required="true"/>
				<p:outputLabel for="senha" value="#{msg['lbl_senha']}"/>
				<p:password id="senha" value="#{usuario.senha}" required="true"/>  
	        </h:panelGrid> 
	        <p:commandButton value="#{msg['btn_ir']}" action="logar" update="growl" />
	        <p:commandButton action="esqueciSenha" value="#{msg['btn_esqueceuSenha']}"/>  
	    </p:panel>
	    <h:panelGrid columns="2"> 
            <p:outputLabel for="language" value="#{msg['lbl_linguagem']}" />
	        <p:selectOneListbox id="language" value="#{userData.locale}" onchange="submit()" valueChangeListener="#{userData.localeChanged}">>
	            <f:selectItems value="#{userData.countries}" />
	        </p:selectOneListbox>

		</h:panelGrid>
	</h:form>
</h:body>
</html>

