<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/basicTemplate.xhtml">
	<ui:define name="content">
		<p:link value="#{msg['lbl_cadastrarNovo']}" outcome="cadastrocerveja" />
		<br />
		<h:form>
			<p:dataTable var="cerveja"
				value="#{daoCerveja.listarCerveja(usuario)}">
				<p:column headerText="#{msg['lbl_nome']}">
					<h:outputText value="#{cerveja.nome}" />
				</p:column>
				<p:column headerText="#{msg['lbl_tipo']}">
					<h:outputText value="#{cerveja.tipo.nome}" />
				</p:column>
				<p:column headerText="#{msg['lbl_fabricante']}">
					<h:outputText value="#{cerveja.fabricante.nome}" />
				</p:column>
				<p:column headerText="#{msg['lbl_acao']}">
					<p:commandButton id="excluir"
						action="#{daoCerveja.excluirCerveja(cerveja)}"
						value="#{msg['btn_excluir']}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
</html>
