<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/basicTemplate.xhtml">
	<ui:define name="content">
		<p:link value="#{msg['lbl_cadastrarNovo']}" outcome="cadastrousuario" />
		<br />
		<h:form>
			<p:dataTable var="usuario" value="#{daoUsuario.listarUsuario()}">
				<p:column headerText="#{msg['lbl_usuario']}">
					<h:outputText value="#{usuario.nome}" />
				</p:column>
				<p:column headerText="#{msg['lbl_acao']}">
					<p:commandButton id="excluir"
						action="#{daoUsuario.excluirUsuario(usuario)}"
						value="#{msg['btn_excluir']}"/>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
</html>
