<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="/templates/basicTemplate.xhtml">
	 <ui:define name="content">
        <h:outputLabel value="#{msg['lbl_bemVindo']} #{usuario.nome}"></h:outputLabel>
    </ui:define>
</ui:composition>
</html>
